nextflow.enable.dsl=2
$AUTOSCALE_MEMORY = true
$INITIAL_RUN_TYPE = "gzip"
params.reads = "" //* @input @file @label:"Reads (optional)" @optional @description:"To enter BCL folder please enable run_mkfastq option."
params.mate = "pair" //* @dropdown @options:"single","pair"
params.Metadata = "" //* @input @optional @single_file @editor:{"collection_autofill":{"input_name":"reads", "column":"1"}, "type":"spreadsheet","filename":"metadata.tsv","separator":"tab","default":[["Sample","Condition"]]}
params.run_mkfastq = "no" //* @dropdown @options:"yes","no" @show_settings:"mkfastq_prep,mkfastq"

params.genome_build = "" //* @dropdown @options:"human_hg19_GRCh37_87, human_hg38_gencode_v32_cellranger_v6, human_GRCm38_cellranger_GRCm38-2024-A, mouse_GRCm39_cellranger_GRCm39-2024-A, mouse_mm10_gencode_vm23_cellranger_v6, zebrafish_GRCz11plus_ensembl, zebrafish_GRCz11refSeqUcsc, zebrafish_GRCz11_v4.3.2, zebrafish_GRCz11_v4.3.2_cellranger_v6, d_melanogaster_dm6_refseq_010519_cellranger_v6, d_melanogaster_BDGP6_32_ensembl_105_cellranger_v6, d_melanogaster_flybase_r6_45_cellranger_v6, custom" @description:"If custom is selected, please manually either transcriptome folder or the both genome_source and gtf_source in the system inputs section. If you entered custom genome_source>f_source then please enable the download_genomic_sources and run_mkref options."
params.run_FastQC =  "yes"  //* @dropdown @options:"yes","no" @description:"It provides quality control checks on raw sequence data. <a target="_blank" href="https://www.bioinformatics.babraham.ac.uk/projects/fastqc/">FastQC Documentation Link</a>"
params.custom_additional_genome = "" //* @input @label:"Custom Additional Fasta File (optional)" @optional @single_file @description:"Custom fasta file to use with the main genome file."
params.custom_additional_gtf = "" //* @input @label:"Custom Additional GTF File (optional)" @optional @single_file @description:"Additional gtf file to use with the main gtf file."
params.run_mkref = "no" //* @dropdown @options:"yes","no" @show_settings:"Cell_Ranger_mkref" @description:"This step builds reference for cell ranger. If you want to use custom genome or gtf, please select yes and enter genome_source and gtf_source in system inputs."
params.add_sequences_to_reference = "no" //* @dropdown @options:"yes","no" @show_settings:"params.custom_additional_gtf, params.custom_additional_genome, params, Add_chromosomes_to_genome_gtf" @description:"Please enable run_Download_Genomic_Sources option and run_mkref options to incorporate custom fasta/gtf files into the genome."
params.run_Cell_Ranger_Count = "yes" //* @dropdown @options:"yes","no" @show_settings:"Cell_Ranger_Count"
params.Ambient_RNA_Removal = "no" //* @dropdown @options:"yes","no" @description:"Whether to remove ambient RNA from the Cellranger results" 
params.run_scRNA_Analysis = "yes" //* @dropdown @options:"yes","no" @show_settings:"params.Ambient_RNA_Removal, params.Metadata, Load_Data_and_QC_h5,PCA_and_Batch_Effect_Correction,Clustering_and_Find_Markers,SCEtoLOOM"
params.replace_geneID_with_geneName = "no" //* @dropdown @options:"yes,no" @description:"Replaces gene_id attribute with gene_name attribute in the gtf file"
params.gtf_type='ensembl' //*  @dropdown @options:"ensembl","gencode","ncbi"

params.run_Download_Genomic_Sources = "no" //* @dropdown @options:"yes","no" @show_settings:"params.replace_geneID_with_geneName, params.gtf_type"  @description:"Please enable if you entered custom genome_source and gtf_source."

// Pipeline Defaults
params.convert_gtf_to_bed = "no"

process {
    withLabel: scrna_seurat {
        container = 'quay.io/viascientific/scrna_seurat:2.0'
    }
}

// process {
//     errorStrategy = 'retry'
//     maxRetries    = 2
// }